version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: writingboard-db
    environment:
      - POSTGRES_DB=writingboard
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: always